html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

  background: linear-gradient(0deg, slategray, lightgray);
}

h1 {
  text-align: center;
  font-size: x-large;
  font-weight: normal;
  margin: 0;
  color: white;
}

#root-window {
  height: 100%;
}

#render-target {
  position: relative;
  height: 100%;
}

#ui-toolbar {
  display: block;
  position: absolute;
  height: auto;
  top: 0;
  left: 0;
  bottom: 0;

  width: 200px;
  background-color: #00000033;
  padding: 32px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ui-button {
  height: 50px;
  width: 100%;
  font-size: 20px;
  margin: 8px 0;

  background-color: rgba(0, 0, 0, 25%);
  color: white;

  border: solid #ffffffaa 2px;
  border-radius: 25px;

  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 25%);

  transition: background-color 0.25s ease-in-out;
}

.ui-button.selected {
  background-color: rgba(200, 200, 255, 10%);
}

.ui-button:not(.selected):hover {
  background-color: rgba(0, 0, 0, 10%)
}

.ui-container {
  background-color: #33333355;
  padding: 16px;
}

#info-panel {
  min-height: 300px;

  border: solid #ffffffaa 2px;
  border-radius: 25px;

  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 25%);

  white-space: pre-wrap;
  color: white;
}