@font-face {
  font-family: Digitalt;
  src: url('/public/fonts/Digitalt.otf');
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Digitalt, sans-serif;

  background: linear-gradient(0deg, #3a5177, #81b1e0);
}

h1 {
  text-align: center;
  font-size: x-large;
  font-weight: normal;
  margin: 0;
  color: white;
}

#root-window {
  height: 100%;
}

#render-target {
  position: relative;
  height: 100%;
}

.container {
  background-color: #efefef;
  padding: 8px;
  margin: 16px;
  border-radius: 16px;

  box-shadow: 0 2px 0 0px rgb(72, 80, 104);
}

#ui-toolbar {
  position: absolute;
  height: auto;
  top: 64px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.ui-button {
  height: 48px;
  width: 48px;
  margin: 4px 0;

  transition: background-color 0.25s ease-in-out;
  
  border: none;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#button-select {
  background-color: hsl(36, 0%, 60%);
  box-shadow: 0 2px 0 0px hsl(36, 0%, 40%);
  transition: box-shadow 0.25s ease-in-out;
}

#button-bulldoze {
  background-color: hsl(40, 97%, 44%);
  box-shadow: 0 2px 0 0px hsl(36, 97%, 29%);
}

#button-residential {
  background-color: hsl(120, 58%, 36%);
  box-shadow: 0 2px 0 0px hsl(120, 77%, 21%);
}

#button-commercial {
  background-color: hsl(202, 100%, 42%);
  box-shadow: 0 2px 0 0px hsl(202, 100%, 25%);
}

#button-industrial {
  background-color: hsl(55, 94%, 36%);
  box-shadow: 0 2px 0 0px hsl(55, 87%, 29%);
}

#button-road {
  background-color: hsl(55, 0%, 28%);
  box-shadow: 0 2px 0 0px hsl(0, 0%, 15%);
}

#button-pause {
  background-color: hsl(0, 51%, 53%);
  box-shadow: 0 2px 0 0px hsl(0, 57%, 34%);
}

.ui-button.selected {
  filter: brightness(1.1);
  box-shadow: none;
}

.ui-button:not(.selected):hover {
  filter: brightness(1.1);
  box-shadow: none;
}

.ui-container {
  background-color: #33333355;
  padding: 16px;
}

.toolbar-icon {
  width: 24px;
  height: 24px;
  pointer-events: none;
  filter: brightness(0) invert(1);
}

/* TITLE BAR */

#title-bar {
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  height: 32px;

  background-color: #0c63ce;
  border-radius: 16px;
  color: white;
  padding: 8px;
  margin: 16px;

  box-shadow: 0 2px 0 0px #023a71;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.title-bar-items {
  flex: 1 1 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

#population-icon {
  position: relative;
  width: 32px;
  height: 32px;
  top: -3px;
}

#population-counter {
  margin-left: 8px;
}

/* INFO PANEL */

#info-panel {
  position: fixed;
  top: 64px;
  right: 0px;
  margin: 16px;
  padding: 12px; 
  width: 300px;
}

.info-heading {
  text-align: center;
  font-size: 1.5em;
  margin: 8px 0px;
  background-color: #2e70bb;
  box-shadow: 0 2px 0 0px #1a416d;
  color: white;
  border-radius: 8px;
  padding: 4px;
}

.info-label {
  margin-left: 12px;
  font-size: 1.4em;
  color: rgb(119, 134, 152)
}

.info-value {
  font-size: 1.5em;
  color: #131313
}

.info-citizen-list {
  list-style-type: none;
  padding: 0;
}

.info-citizen {
  background-color: #dc8800;
  color: white;
  padding: 4px 16px;
  margin: 4px 0;
  border-radius: 8px;
  box-shadow: 0 2px 0 0px #694307;
}

.info-citizen-name {
  font-size: 1.2em;
}

.info-citizen-icon {
  position: relative;
  width: 18px;
  height: 18px;
  top: 2px;
}

.info-citizen-details {
  font-size: 1em;
  display: flex;
  justify-content: flex-start;
  gap: 16px;
}