html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

  background: linear-gradient(0deg, slategray, lightgray);
}

h1 {
  text-align: center;
  font-size: x-large;
  font-weight: normal;
  margin: 0;
  color: white;
}

#root-window {
  height: 100%;
}

#render-target {
  position: relative;
  height: 100%;
}

#ui-toolbar {
  display: block;
  position: absolute;
  height: auto;
  top: 0;
  left: 0;
  bottom: 0;

  background-color: #00000033;
  padding: 8px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.ui-button {
  height: 50px;
  width: 50px;
  font-size: 20px;
  margin: 4px 0;

  background-color: rgba(0, 0, 0, 25%);
  color: white;

  border: none;
  border-radius: 3px;

  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 40%);

  transition: background-color 0.25s ease-in-out;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ui-button.selected {
  background-color: rgba(200, 200, 255, 10%);
}

.ui-button:not(.selected):hover {
  background-color: rgba(0, 0, 0, 10%)
}

.ui-container {
  background-color: #33333355;
  padding: 16px;
}

.toolbar-icon {
  width: 36px;
  height: 36px;
  pointer-events: none;
}

/* TITLE BAR */

#title-bar {
  position: fixed;

  top: 0;
  left: 66px;
  right: 0px;
  height: 50px;

  background-color: rgba(0, 0, 0, 0.2);

  font-size: x-large;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-bar-items {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#population-counter {
  margin-left: 8px;
}

/* INFO OVERLAY */

#info-overlay {
  position: fixed;
  top: 50px;
  right: 0px;
  margin: 16px;
  padding: 12px; 
  width: 300px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 20%);
}

#info-overlay-header {
  font-weight: bold;
}